<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to BDPA 2025 </h1>
   <h2>MY NAME IS JADA</h2>
    <p>this page will be an intro to the HSCC PROGRAM <%= title %></p>
    <H2> HYPERLINKS </H2>
    <img src="images/bdpalogo.png" alt="bdpa logo">
    <UL> 

     <li>FOUNDERS OF BDPA</li> 
      <li>Founding Year of BDPA</li>
<li>FIRST CHAPTER(S)</LI>
<LI>FIRST HSCC YEAR AND VENUE:</LI>
      <LI>FIRST BDPA CONFRENCE YEAR AND VENUE</li>
    <li>MOST RECENT VENUE AND WINER OF HSCC:ATLANTA AND ATANTA </li> 
<li> curent natinal PRESEDENT and VP:VP ROSMARY SMITH</li>
<li> crrent CHAPTER PRESEDENT and VP</li>
  </body>
</html>

