<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<ul class="menu">
<li><a href="/">  <img src="images/bdpalogo.png">  </a> </li>
<li><a href="/"> home  </a></li>
<li><a href="/bdpahistory">BDPA HISTORY</a></li>
<li><a href="#">SAMPLE FORM</a></li>
</ul>
    <h1>wellcome to BDPA 2025 </h1>
   <h2>MY NAME IS JADA</h2>
    <p>this page will be an intro to the HSCC PROGRAM <%= title %></p>
    <H2> HYPERLINKS </H2>
    <UL> 
<li> BDPA NATIONAL<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li>
<li> BDPA MIWAUKEE<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li
<li> W3SSCHOOL<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li>
<li>BDPA HISTORY <a href="/BDPAHISTORY"> LINK </a></li>

    </UL>
  </body>
</html>
