<!DOCTYPE html>
<html>
  <!-- Include standard head partial -->
<%- include('./partials/head') -%>

<body>
<!-- Including menu -->
 <%- include('./partials/menu') -%>
</ul>
    <h1>wellcome to BDPA 2025 </h1>
   <h1>MY NAME IS JADA KENNER</h1>
    <p>this page will be an intro to the HSCC PROGRAM <%= title %></p>
    <H2> HYPERLINKS </H2>
    <UL> 
<li> BDPA NATIONAL<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li>
<li> BDPA MIWAUKEE<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li
<li> W3SSCHOOL<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li>
<li>BDPA HISTORY <a href="/BDPAHISTORY"> LINK </a></li>

    </UL>
  </body>
</html>
