<!DOCTYPE html>
<html>
  <!-- Include standard head partial -->
<%- include('./partials/head') -%>

<body>
<!-- Including menu -->
 <%- include('./partials/menu') -%>
</ul>
<h1 style="color: rgb(187, 222, 250);">HI</h1>
<h1 style="font-family: cursive; color: rgb(198, 227, 252);">welcome to BDPA 2025</h1>
<h1 style="font-family: cursive; color: rgb(241, 208, 245);">MY NAME IS JADA KENNER</h1>
<p style="font-size: small; color: rgb(163, 228, 249);">this page will be an intro to the HSCC PROGRAM <%= title %></p>
<h1 style="color: rgb(177, 212, 234);">(YAY)</h1>
<h2 style="color: rgb(245, 195, 243);">HYPERLINKS</h2>
<UL> 
<li> BDPA NATIONAL<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li>
<li> BDPA MIWAUKEE<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li
<li> W3SSCHOOL<A HREF ="HTTP://WWW.BDPA.ORG" >LINK </A></li>
<li>BDPA HISTORY <a href="/BDPAHISTORY"> LINK </a></li>

    </UL>
  </body>
</html>
